body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    background-color: #121212;
    /* A dark shade */
    color: #e0e0e0;
    /* Light text color for better contrast */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: #008cba;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #005f5f;
}