* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: thistle;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px 0;
}

#search-btn {
    background-color: orange;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}

.category-container {
    display: flex;
}

.category-container .category-btn {
    background-color: rgb(0, 247, 255);
    border: 1px solid black;
    margin: 12px;
    padding: 10px;
    border-radius: 8px;
}

.category-container .category-btn.active {
    background-color: orange;
}

#product-list {
    margin: 0 100px;
    display: flex;
    justify-content: space-evenly;
}

#product-list .product-item {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

#product-list .product-item h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

#product-list .product-item p {
    text-align: center;
}