* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: teal;
}

.container {
    background-color: white;
    width: 30%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.container div button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
}